/* Pretty colors */
/* 
    https://coolors.co/c2f9bb-9ad1d4-62c370-cc3363-20063b 
*/

html {
    background-color: #62C370;
}

header {
    background-color: #62C370;
    margin: 0px;
    text-align: center;
}

footer {
    background-color: #62C370;
    text-align: center;
}

body {
    background-color: #C2F9BB;
    margin: 0px;
}

main {
    background-color: beige;
    padding: 5px 15px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 80%;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}