/* Pretty colors */
/* 
    https://coolors.co/c2f9bb-9ad1d4-62c370-cc3363-20063b 
*/
body {
    background-color: lightgreen;
}

main {
    background-color: beige;
    padding: 5px 15px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 80%;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}