/* 
Color Palette
    #7289da - Blue
    #ffffff - White
    #99aab5 - Grey
    #2c2f33 - Darker Grey
    #23272a - Darkest Grey
*/

body {
    background-color: #2c2f33;
}

#main-header {
    font-family: "Open Sans", sans-serif;
    background-color: #23272a;
    color: #7289da;
    text-align: center;
    margin: 0;
    padding: 5px 10px 5px;
}

h2 {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    max-width: auto;
}

p {
    color: #99aab5;
}

b {
    color: #ffffff;
}

hr {
    color: white;
    border-color: white;
    background-color: white;
}

#about-me {
    margin-left: 50px;
}

a {
    background-color: #99aab5;
}
a:hover {
    color: white;
}

a:visited {
    color: #283ed7;
}