<nav>
    <p>Page designed by <a href="/itis3135/atran.site/index.html" target="_blank">AT Systems</a> © 2025</p>
    <a href="https://webpages.charlotte.edu/atran55/" target="_blank">CLT Web</a>
    |
    <a href="https://github.com/atran55cedu/atran55cedu.github.io" target="_blank">GitHub</a>
    |
    <a href="https://atran55cedu.github.io/" target="_blank">GitHub.io</a>
    |
    <a href="https://www.freecodecamp.org/atran55uncc" target="_blank">FreeCodeCamp</a>
    |
    <a href="https://www.codecademy.com/profiles/data1819022923" target="_blank">CodeCademy</a>
    |
    <a href="https://www.linkedin.com/in/andy-tran-748075184/" target="_blank">LinkedIn</a>
</nav>