<h1 class="banner">
    <img class="profile-img" 
    src="images/mascot.png" 
    alt="AI rendition of a carton tardigrade holding a chemical flask."
    width="250px">
    <br>
</h1>

<nav class="banner-nav">
    <a href="/index.html">CLT Web</a>
    |
    <a href="/itis3135/index.html" target="">Home</a>
    |
    <a href="/itis3135/contract.html">Contract</a>
    |
    <a href="/itis3135/website_evaluations.html">CRAP Evaluations</a>
    |
    <a href="/itis3135/survey.html">Survey Form</a>
    |
    <a href="/itis3135/cards.html">Cards</a>
    |
    <a href="/itis3135/inventory.html">Inventory</a>
    |
    <a href="/itis3135/documentation.html">Documentation</a>
    |
    <a href="/itis3135/product.html">Product</a>
</nav>
<br>
<nav>
    <a href="/itis3135/stuff/my_crappy_webpage/Cr@  ppY W3bP@ g3.htm">CRAPpy</a>

</nav>