<h1 class="banner">
    <img class="profile-img" 
    src="images/mascot.png" 
    alt="AI rendition of a carton tardigrade holding a chemical flask."
    width="250px">
    <br>
</h1>

<nav class="banner-nav">
    <a href="/index.html">CLT Web</a>
    |
    <a href="index.html" target="">ITIS 3135</a>
    |
    <a href="contract.html">Contract</a>
    |
    <a href="/itis3135/stuff/my_crappy_webpage/Cr@  ppY W3bP@ g3.htm">CRAPpy</a>
    <!-- <a href="fccfsjs_outline.html">freeCodeCamp JS Outline</a> -->
    <hr>
    <!-- <a href="hobby/" target="_blank">Hobby</a> -->
</nav>