<div class="page-Header">
        <h1><img src="/itis3135/images/mascot.png" alt="Angry Tiger" width="80px">
            Andy Tran</h1>

    <nav class="banner-nav">
        <a href="index.html" target="">ITIS 3135</a>
        |
        <a href="contract.html">Contract</a>
        |
        <!-- Do I change this to student page or course page? -->
        <a href="index.html">Home</a>
        <hr>
    </nav>
    <nav class="banner-nav">
        <a href="hobby/" target="_blank">Hobby</a>
        
    </nav>
</div>